@import "./assets/GlobleStyling/mixins&autos.scss", "./assets/GlobleStyling/variables&fonts.scss";

body {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;


    height: 100vh;
    width: 100vw;

    overflow-x: hidden;
    overflow-y: hidden;
}
#root {
    align-items: start;
    justify-content: start;

    height: 100vh;
    width: 100vw;

    background: #e6e6e6;

    overflow: hidden;
    overflow-y: scroll;
}
